extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main 
    +alert-success(5000)
    +alert-error(5000)

    .container.my-3 
        .row 
            .col-12 
                +box-head("Chat")

        .row 
            .col-12 
                .chat(my-id=user.id)
                    .inner-body 
                        each chat in chats 
                            div(class=(chat.infoUser.id == user.id ? "inner-outgoing" : "inner-incoming"))
                                if (chat.infoUser.id !== user.id)
                                    .inner-name #{chat.infoUser.fullName}
                                .inner-content 
                                    | #{chat.content}
                        //- .inner-outgoing 
                        //-     .inner-content 
                        //-         | Xin chào, Tôi tên B 
                        //- .inner-incoming 
                        //-     .inner-name Lê Văn A 
                        //-     .inner-content 
                        //-         | Bạn khỏe không?
                        //- .inner-outgoing 
                        //-     .inner-content 
                        //-         | Tôi khỏe. Còn bạn?
                        //- .inner-incoming 
                        //-     .inner-name Lê Văn A 
                        //-     .inner-content 
                        //-         | Tôi cũng khỏe
                    .inner-foot 
                        form(
                            class="inner-form"
                            action=""
                        )
                            input(
                                type="text"
                                placeholder="Nhập nội dung..."
                                name="content"
                            )

                            button(type="submit")
                                i.fa-solid.fa-paper-plane


        